.findride,
.findride.withResults {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  min-height: calc(100vh - 5rem);
  background-image: linear-gradient(
      rgba(166, 168, 172, 0.293),
      rgba(106, 108, 110, 0.798)
    ),
    url("../findride.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 50px;
}

h2 {
  font-size: 3rem;
  font-weight: 1000;
  color: white;
}

.withResults h2 {
  color: #333;
}

@media (max-width: 768px) {
  .findride {
    margin: 1rem;
    padding: 1rem;
  }

  h2 {
    font-size: 2rem;
  }
}
