/* Main Container */
.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  min-height: calc(100vh - 5rem);
  background-image: linear-gradient(
      rgba(166, 168, 172, 0.293),
      rgba(106, 108, 110, 0.798)
    ),
    url("../loginbg.jpeg");
  background-size: cover;
  background-position: center;
}

/* Form Styles */
.form {
  width: 48rem;
  margin: 8rem auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(221, 219, 219, 0.431);
  border-radius: 7px;
  opacity: 0.9;
  color: black;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Button Styles */
button {
  background-color: #00c46a;
  color: inherit;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

/* Navigation Links */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons h5,
.buttons h3 {
  margin-top: 1rem;
  color: #161717;
  text-align: center;
  cursor: pointer;
}

.buttons h5:hover,
.buttons h3:hover {
  text-decoration: underline;
}

/* Error Message */
.error {
  font-size: 2rem;
  text-align: center;
}
