.formContainer {
  width: 50%;
  height: auto;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.formContainer h1 {
  font-weight: 900;
}

.formContainer h2 {
  margin-bottom: 45px;
  font-weight: 700;
}

.formContainer div {
  margin-bottom: 10px;
  width: 100%;
}

.formContainer label {
  display: flex;
  font-weight: bold;
  width: 200px;
}

.formContainer input {
  width: 35%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.formContainer textarea {
  width: 65%;
  resize: vertical;
  min-height: 100px;
}

.formContainer button {
  padding: 0.6rem 1.5rem;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 20rem;
  width: auto;
}

.formContainer button:hover {
  background-color: #02b05f;
}

.requestInput {
  display: flex;
  justify-content: start;
}
