.searchResults {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
}

.resultsHeader {
  display: flex;
  justify-self: center;
  margin-bottom: 24px;
}
.dateHeader {
  color: #666;
  font-size: 16px;
  margin: 24px 0 16px;
}
.noResults {
  background: rgba(255, 255, 255, 0.513);
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.noResultsContent h3 {
  color: #333;
  margin-bottom: 16px;
}

.noResultsContent p {
  color: #666;
  margin-bottom: 16px;
}

.noResultsContent ul {
  list-style: none;
  padding: 0;
  color: #666;
}

.noResultsContent li {
  margin: 8px 0;
}
